$font-family-montserrat: "Montserrat", sans-serif;
$font-family-raleway: "Raleway", sans-serif;
$white_color: #ffffff;
$heading_color: #555555;
$after_color: #f1eee9;
$idea_bg: #fbfaf8;
$paragraph_color: #8c8c8c;
$brown_color: #c7b299;
$deep_brown: #362f2d;
$brown_color_dark: #736357;
$brown_color_deep: #a48d72;
$day_color: #363636;
$month_color: #252525;
$overlay_banner: rgb(17, 17, 17, 0.7);
$transition: all linear 0.3s;
$footer_bg:#111111;